extends ./templates/head.pug

block title
  title Administrator Section

append link
  link(rel="stylesheet" href="../css/users_section.css")
  link(rel="stylesheet" href="../css/admin/admin.css")
  link(rel="stylesheet" href="../css/toast.css")


block content
  section(class="user-section")
    include ./templates/users_header.pug
      li(class="user-nav-item" data-fire="admin-dashboard")
        i(class="fa fa-desktop user-nav-item-icon")
        span Dashboard

      li(class="user-nav-item" data-fire="admin-interventions")
        i(class="fa fa-briefcase-medical user-nav-item-icon")
        span Interventions

      li(class="user-nav-item" data-fire="admin-subinterventions")
        i(class="fa fa-plus-square user-nav-item-icon")
        span Sub Interventions

      li(class="user-nav-item" data-fire="admin-department")
        i(class="fa fa-sitemap user-nav-item-icon")
        span Department

      li(class="user-nav-item" data-fire="admin-doctor")
        i(class="fa fa-user-md user-nav-item-icon")
        span Doctor

      li(class="user-nav-item" data-fire="admin-client")
        i(class="fa fa-user-circle user-nav-item-icon")
        span Client

      li(class="user-nav-item" data-fire="admin-nurse")
        i(class="fa fa-user-nurse user-nav-item-icon")
        span Nurse

      li(class="user-nav-item" data-fire="admin-pharmacist")
        i(class="fa fa-user-md user-nav-item-icon")
        span Pharmacist

      li(class="user-nav-item" data-fire="admin-laboratorist")
        i(class="fa fa-user-md user-nav-item-icon")
        span Laboratorist

      li(class="user-nav-item" data-fire="admin-accountant")
        i(class="fa fa-user user-nav-item-icon")
        span Accountant


      li(class="user-nav-item" data-fire="admin-intern")
        i(class="fa fa-user user-nav-item-icon")
        span Intern


      li(class="user-nav-item" data-fire="admin-receptionist")
        i(class="fa fa-user user-nav-item-icon")
        span Receptionist


      li(class="user-nav-item" data-fire="admin-noticeboard")
        i(class="fa fa-sticky-note fa-desktop user-nav-item-icon")
        span Noticeboard


      li(class="user-nav-item" data-fire="admin-settings")
        i(class="fa fa-cog user-nav-item-icon")
        span Settings


      li(class="user-nav-item" data-fire="admin-contactemails")
        i(class="fa fa-envelope user-nav-item-icon")
        span Contact Emails


      li(class="user-nav-item" data-fire="admin-account")
        i(class="fa fa-user user-nav-item-icon")
        span Account

    include ./templates/users_footer.pug

  script(src="../js/admin/admin_section.js")
  script(src="../js/admin/onlineOffline.js")