extend ./templates/head.pug

block title
  title Login to Dashboard

append link
  link(rel="stylesheet" href="../css/login.css")
  link(rel="stylesheet" href="../css/toast.css")

block content

  section(class="user-login")
  
    form(class="user-login-form" enctype="multipart/form-data")
    
      img(class="user-login-logo" src="../assets/logo-1.png" alt="logo")
      
      input(type="email" placeholder="Email" name="email" required)
      input(type="password" placeholder="Password" name="password" required)

      div#user-login-buttons
        button(type="submit") Submit
        button(type="reset") Reset
        
      p.user-forget-pwd= "Forget Password"
      p.user-register= "Haven't Registered Your Hospital Yet?"
      
  script(src="../js/login.js")