extend ./templates/head.pug

block title
  title Login to Dashboard

append link
  link(rel="stylesheet" href="../css/login.css")

block content
  section(class="user-login")
    img(class="user-login-logo" src="" alt="logo")
    form(class="user-login-form")
      div#user-login-email-section
        label.user-login-label
          p#user-login-email= Email Address
          input(type="email" required)
      div#user-login-email-password
        label.user-login-label
          p#user-login-password= Password
          input(type="password", required)

      div#user-login-buttons
        button(type="submit") Submit
        button(type="reset") Reset
