
form {
    padding: 0 !important;
    .op {
        margin-left: unset !important;
    }
}

.intervention {
    font-size: 1.5em;
    text-align: center;
}

[name="interventionName"] {
    font-size: 1.5em;
    margin-bottom: 15px;
}
