@import "./admin_dashboard.scss";
@import "../table.scss";


.navigator-icon {
    cursor: pointer;
    &.no-more {
        cursor: not-allowed;
        color: lightgrey;
    }
}

.currently-shown {
    clear: both;
    margin-top: 80px;
    .user-ops {
        display: flex;
        justify-content: flex-end;
        padding: 12px;
        > i {
            margin-left: 12px;
            margin-top: 8px;
            color: black;
        }
        > button {
            border: none;
            padding: 8px;
            border-radius: 20px;
            cursor: pointer;
            background: darken(red,10%);
            color: white;
            font-weight: bolder;
            font-family: $default-font-family;
            transition: .2s ease-in-out;
            &:hover {
                background: lighten(darken(red,10%),3%);
            }
        }
    }
}
