@import "./admin_dashboard.scss";
@import "./admin_nurse.scss";
@import "../table.scss";


.navigator-icon {
    cursor: pointer;
    &.no-more {
        cursor: not-allowed;
        color: lightgrey;
    }
}
