aside(class="section-nav-operation")
  div(class="section-nav-operation-header")
    div.user-identification
      i(class="fa fa-user")
      span.user-role
    div.user-logout-website
      div.website
        i(class="fa fa-external-link-square-alt")
        span.user-web website
      div.logout
        span.user-logout logout
        i(class="fa fa-sign-out-alt")
    
//- div(class="section-nav-table-ops")
//-   div.perPageForm
//-     select(name="pageView")
//-       - const views = [ 10 , 20 , 30 , 50, 100 ];
//-       - for ( let i of views ) {
//-         option(value=i) #{i}
//-       - }
//-     //input(type="number" value="10" min="10" max="100")
//-     span Per Page
//-   div.searchForm
//-     label
//-       span Search:
//-       input(type="text" name="search")
    