label
  span Name
  input(type="text" name="fullName" required)
      
label
  span Email
  input(type="email" name="email" required)
        
label
  span Password
  input(type="password" name="password" required)
        
label
  span Address
  textarea(name="address")

label
  span Phone
  input(type="text" name="phoneNumber" required)