
aside(class="section-nav")
  div(class="nav-header")
    img(class="nav-header-img" src="../assets/logo-1.png" alt="logo")
    i(class="fa fa-2x fa-list nav-header-toggler")

  ul(class="nav-list")
    li(class="user-nav-item user-descr")
      div(class="user-image-parent")
        img(class="user-image" src="../assets/victory.jpg" alt="user-image")
      div(class="user-text")
        span= "Welcome"
        p.user-name I Am The User