div
  label Image
  div.image-preview
    p.image-preview-text Image Preview
    img.previewer
  input(type="file" name="image" accept="image/*" hidden required)
  button(type="button" class="select-image") Select Image