@import "./variables/font-variables.scss";
@import "./variables/color.scss";

*:disabled {
    cursor: not-allowed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $default-font-family;
    /* background-image: url("../assets/background-image.jpg");
       background-size: cover; */
    //color: $color;
    font-weight: bolder;
}

img {
    width: 100px;
}

form {
    > * {
        margin: auto;
        display: block;
        margin-top: 20px;
        font-size: 1.5em;
    }
    input {
        background: $background-input-color;
        color: darkgrey;
        font-size: 1.5em;
        transition: .3s ease-in-out;
        &:focus {
            background: white;
            color: black;
            border-bottom: 1px solid $background-input-color !important;
        }
    }
}
