@import "./variables/font-variables.scss";

* {
    outline: none;
    user-select: none;
}

*:disabled {
    cursor: not-allowed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $default-font-family;
}
