extends ../templates/head.pug

mixin emergencyContacts(number)
  div(class="emergency" + number)
    p.emsec= "Emergency Contact " + number
    label.emergencyFullname
      span Fullname
      input(type="text" name="emergencyFullName" + number)

    label.emergencyAddress
      span Contact Address
      textarea(name="emergencyAddress" + number)

    label.emergencyPhonenumber
      span Phone Number
      input(type="text" name="emergencyPhoneNumber" + number )

    label.emergencyRelationship
      span Relationship
      input(type="text" name="emergencyRelationship" + number )      

block title
  title Add Client

append link
  link(rel="stylesheet" href="../../css/admin/admin_add.css")
  link(rel="stylesheet" href="../../css/admin/admin_add_client.css")
  link(rel="stylesheet" href="../../css/toast.css")

block fa-link
  link(rel="stylesheet" href="../../css/all.min.css")


block content
  i(class="fa fa-times-circle close")
  section(class="admin-add-user")
    form(class="admin-add-user-form" enctype="multipart/form-data")
      p.op Add Client

      include ../templates/user_image_form.pug

      label
        span Card Number
        input(type="text" name="cardNumber" required)


      include ../templates/user_cred_form.pug

      label
        span Occupation
        input(type="text" name="occupation")



      label.sex
        span Sex
        select(name="sex" required)
          option(value="male") Male
          option(value="female") Female


      label.dob
        span Date Of Birth
        input(type="date" name="dob")

      label.bgroup
        span Blood Group
        select(name="bloodGroup")
          option(value="Select Blood Group" selected hidden) Select Blood Group
          option(value="A+") A+
          option(value="A-") A-
          option(value="B+") B+
          option(value="B-") B-
          option(value="AB+") AB+
          option(value="AB-") AB-
          option(value="O+")  O+
          option(value="O-") O-

      label.weight
        span Weight
        input(type="text" name="weight" placeholder="Weight in KG")

      label.height
        span Height
        input(type="text" name="height" placeholder="Height in meters")

      label.gtype
        span Genotype
        select(name="genotype")
          option(value="Select Genotype" selected hidden) Select Genotype
          option(value="AA") AA
          option(value="AS") AS
          option(value="SS") SS

      label.mdh
        span Medical History
        textarea(name="medialHistory")

      div.emergency
        - for ( let i of [ 1 , 2 , 3 ] )
          +emergencyContacts(i)

      button(type="submit") Save
      button(type="reset" class="reset") Reset
  script(src="../../js/editUser.js")