extends ../templates/head.pug

block title
  title Add Intervention

append link
  link(rel="stylesheet" href="../../css/admin/admin_add.css")
  link(rel="stylesheet" href="../../css/admin/admin_intervention.css")
  link(rel="stylesheet" href="../../css/toast.css")

block fa-link
  link(rel="stylesheet" href="../../css/all.min.css")


block content
  i(class="fa fa-times-circle close")
  section(class="admin-add-user")
    form(class="admin-add-user-form" enctype="multipart/form-data")
      p.op Add Intervention
      
      label
        p.intervention Enter Intervention Name
        input(type="text" name="interventionName")

      button(type="submit") Save
      button(type="reset" class="reset") Reset
  
  script(src="../../js/editIntervetion.js")